*{
    margin: 0;
    padding: 0;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   /* background-color: blue;*/


}
header{
}
.reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.content{
    width: 50%;
    padding: 0;
    margin: 0;
  /*  background-color: yellow;*/
}
#articleContainer{
   /* background-color: purple;*/
}
.moviecontainer{
display: grid;
grid-template-columns: auto auto ;
}
.card-roshni {
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    width: 120px; /* Adjust width as needed */
}
.card-roshni img {
    width: 100%;
    height: auto;
}
/*Mine klasser til ratingen*/

.header-nav{
    margin-bottom: 20px;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    margin-left: 32px;
}
a{
    text-decoration: none;
    font-size: 10px;
    margin: 5px;
    color:black;
}
header a{
    font-family: "Athiti", sans-serif;
    font-size: 15px;
}

.articles{
/*    background-color: yellow;*/
    height: 10px;
}
ul>li>ul{
    display: none;
}

   table{
               display: inline-table;
               flex-direction: column;
               width: 350px;
              /* background-color: pink;*/
               justify-content: center;
               align-items: center;

           }

tr{
            display:inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            //*background-color: lime;*/
    width: 100%;



}
td{
    display: inline-flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 10px;
    height: 50px;
    width: 25%;



}

/*Fonte*/
.plight {
            font-family: "Athiti", sans-serif;
            font-weight: 200;
            font-style: normal;
        }

.pnormal {
    font-family: "Athiti", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10px;
}

.pregular {
    font-family: "Athiti", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p-regular-bold {
    font-family: "Athiti", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.p-semibold {
    font-family: "Athiti", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.p-bold {
    font-family: "Athiti", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}
.reviewer-img{
    height: 100px;
    width: 100px;
    /*background-color: red;*/

}
.btn-go-to{
    width: 100px;
    border-radius: 5px;
    border:none;
    background-color: blue;
    color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;

}
.btn-go-to>a{
color: white;
}
.h1-bold {
    font-family: "Athiti", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.bi-star-fill, .bi-star {
    font-size: 10px;
}
.mt-4{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1{
    font-family: Inter, serif;
    font-size: 50px;

}
.h1-slideshow{
    font-family: Inter, serif;
    font-size: 50px;
    color: #f2fdfc;
    font-weight: normal;

}

.glide{
    display: flex;
    flex-direction: column;




}
.slide{
    background-size: cover;

    display: flex;
    background-image: url("img/morkeland.jpg");
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px!important;
    z-index: -2;
    margin-bottom: 100px;



}
main{
    z-index: 1;
}
.ratingdiv{
    display: flex;
}
.ratingdiv > .bi-star,
.ratingdiv > .bi-star-fill {
    font-size: 50px;
    color: #dddddd;
    margin: 0 12px 12px;
}
.section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.look-at-div{
    width: 25%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
main{
    display: flex;
    flex-direction: column;
}
.section{
    margin-bottom: 100px;
}
.logindiv{
    display: flex;
    justify-content: space-between;
align-items: center;
    margin-top: 50%;
}
.login{
    padding: 10px;
    font-weight: 200;
    width: 400px;
    font-size: 50px;
    margin: 10px;
    background-color: black;
    color:white;
    border-radius: 15px;
}

.login:last-child{
    background-color: #333333;

}
.login:hover{
     background-color: white;
     color: black;
 }
input{
    width: 100px;
    border: 1px solid black;

}
.submit{
    width: 100px;
    color:white;
    padding: 10px;
}

.actorDetails{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.actorimg{
    width: 300px;
    margin: 10px 10px 0;

}
.h1-actor{
    text-align: start;
    font-weight: normal;
    margin-top: 0;
}
.actordetails-table{

    display: inline-table;
    justify-content: flex-start;
    align-items: flex-start;
}

.actordetails-tr{
    display: inline-flex;
    align-self: start;
    justify-content: start;


}
.actordetails-td{
    height: 50px;
    border-bottom: 1px solid black;
    align-self: center;
    justify-self: center;
    text-align: center;
}


.actorDetails{
    padding-left: 32px;

}
.actordescr{
    width:100%;
    text-align:center ;
    font-size: 20px;
}

.actortd{
    height: 100px;
    padding: 10px;


}
.actorsectionone{
    margin-left: 32px;
    display: flex;
    justify-content: center;

}
.actorDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}
.actor-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
}
.reviewerDetails-reviewer.php{
    width: 50%;
}


.main-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    text-align: start;
    align-items: flex-start;
    padding: 32px;

}
.review-section{
}
.review-section>div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviewer-img-review{
    width: 40px;
}
@media(min-width: 900px){
    #pnormal{
        font-size: 15px;
    }
    table{
        display: inline-table;
        flex-direction: column;
        width: 550px;
        /* background-color: pink;*/
        justify-content: center;
        align-items: center;

    }
    tr{
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    td{
       height: 100px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 200px;
    }
    .reviewer-img{
        height: 100px;
        width: 100px;

    }
    .btn-go-to{
        width: 100px;
    }
    .h1{
        font-family: Inter, serif;
        font-size: 40px;
        margin: 0;
        padding: 0;

    }
    .h2{
        font-family: Inter, serif;
        font-size: 20px;
        margin: 0;
        padding: 0;
        text-align: start;
    }
    .h1-slideshow{
        font-family: Inter, serif;
        font-size: 80px;
        color: #dddddd;
        font-weight: normal;

    }
    .slide>.pnormal{
        width: 50%;
        color: #dddddd;
        text-align: center;
        background-color: black;
        opacity: 50%;
        display: none;
    }
    .glide:hover .slide>.pnormal{
        display: block;

    }
    .pnormal{
        font-size: 20px;
    }
    a:hover{
    }
    .actorDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


    }
    .actorimg{
        width: 300px;
        margin: 10px 10px 10px;

    }
    .h1-actor{
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        font-family: Inter, serif;
    }
    .actordetails-table{

        display: inline-table;
        justify-content: center;
        text-align: center;

    }

    .actordetails-tr{
        display: inline-flex;
        align-self: center;
        justify-content: center;


    }
    .actordetails-td{
        height: 50px;
        border-bottom: 1px solid black;
    }


    .actorDetails{
        padding-left: 32px;
    }
    .actordescr{
        width: 50%;
        text-align:center ;
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #pnormal{
        font-size: 20px;
    }
    .actor-table{
        margin-bottom: 20px;
        margin-top: 0;
        padding-top: 0;
    }
    a{
        font-size: 16px;!important;
    }
    .p-bold {
        font-family: "Athiti", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
.actorimg{
    width: 150px;
}
    .reviewerDetails-reviewerphp{
        width: 25%;
    }
.h1-reviewer{
    margin-top: 50px;
    font-family: Inter, serif;
    font-size: 30px;


}
    .card-roshni {
        margin: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
        padding: 10px;
        width: 300px; /* Adjust width as needed */
    }

}
